.ficon {
  @apply scale-75;
}

.ficon:hover {
  filter: invert(70%) sepia(100%) saturate(900%) hue-rotate(190deg)
    brightness(105%) contrast(104%);
  transform: rotate(10deg);
  transform: scale(0.9);
  transition: all 0.3s;
}

.ficon:active {
  transform: scale(1);
}
